#front_end_wrapper{
    position: relative;
}



.sherlock-wrapper{
    height: 80px;
    width: 70px;
    position: absolute;
    top: 20%;
    left: -5%;
    border-radius: 50%;
}

.sherlock{
    height: 70px;
    width: 50px;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    transform: rotate(-20deg);
}

@media (min-width: 200px){
    .sherlock-wrapper{
        top: 20%;
        left: -25px;
        border-radius: 50%;
    }
}

.sherlock-wrapper:hover>.sherlock{
    animation: show 1s forwards;
}

.sherlock_eyes{
    position: absolute;
    top: 35%;
    left: 20%;
    transform: rotate(-20deg);
    background-color: white;
    height: 20%;
    width: 15%;
    border-radius: 50%;
}

.sherlock_eyes:nth-of-type(1){
    top: 10%;
    left: 50%;
}


/* Sherlock Animations */
@keyframes show{
    25% {transform:translate(100%, 100%);}
    
    50% {transform:translate(100%, 150%);}
    
    100% {transform:translate(0%, 150%);}
    
}