*{
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
p,h1,h2,h3,h5,h6{
    margin: 0px;
    padding: 0px;

}

ul{
    list-style: none;
}

#div_hero{
    /* background-image: url('../Assets/Images/banner_img_3.jpg'); */
    background-color: white;
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    height: fit-content;
    width: 100%;
    /* overflow: hidden; */
    margin: 0px;
    padding: 0px;
}

#div_hero h5{
    font-size: 2rem;
}

#name_text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name_text>span{
    color: blueviolet;
}

/* below 2 (div and img) are replaced with div2_profile_img and own_image2 placed just after these
#div_profile_img{
    position: relative;
    height: 50vh;
    overflow: hidden;
    clip-path: circle(100px at center);
}

#own_image{
    height: 120%;
    max-width: 100%;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
} */



#div2_profile_img{
    position: relative;
    height: 20vh;
    width: 20vh;
    margin-top: 50px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
}

#own_image2{
    height: 250%;
    position: absolute;
    top: -115%;
    left: -50%;
}

.div_tool_kit_images{
    max-height: 50%;
}

.toolkit_logos{
    max-width: 80%;
}

.spacer{
    height: 1px;
    width: 80%;
    border: 1px dotted black;
    margin: 50px;
}


/* Animations Starts here */

@keyframes slide-in{
    from{transform:translateX(-1000px);}
    to {transform: translateX(50px);}
}